<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="banksSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.41.188:8083/banks.asmx" binding="basicHttpBinding"
                bindingConfiguration="banksSoap" contract="EACBSServiceReference.banksSoap"
                name="banksSoap" />
        </client>
    </system.serviceModel>
  <appSettings>

    <add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=AlertSystemT24;User ID=sa;Password=tylent" />
    <add key="cardsMssqlconn" value="Data Source=10.0.41.101;Initial Catalog=EchanelsT24;User ID=sa;Password=tylent" />
    <add key="cardDetailsconn" value="Data Source=10.0.41.101;Initial Catalog=EchanelsT24;User ID=sa;Password=tylent" />
    <add key="BaseUrl" value="http://localhost:58537/api/FIMIIntegration/"/>
    <add key="CreditCardCode" value="434609"/>
    <add key="DefaultDollarCode" value="840"/>
    <add key="DefaultNairaCode" value="566"/>
    <add key="FioranoBaseUrl" value="http://172.18.4.77:1880/restgateway/services"/>
    <!--<add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=TechBizInsight;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>-->
    <!--<add key="ATMconn" value="data source=10.0.41.101;initial catalog=postilion_office;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>-->
  </appSettings>

</configuration>